

h1{
  display: flex;
  justify-content: center;
  font-size: 6em;
  font-family: 'DotGothic16', sans-serif;


}

h1 a{
  text-decoration: none;
  color: gold;
}

nav{
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2em;
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: gold;
}

